%section.content-header
  %h1
    = link_to :back do
      %button.btn.btn-primary
        Atrás
  %ol.breadcrumb
    %li
      %a{:href => "#"}
        %i.fa.fa-dashboard
        Configuración de Email
    %li.active Actualizar

.container-fluid.mt-10
  .row
    .col-md-12
      .box.box-primary
        .box-header.with-border
          %h3.box-title Configuración de Email

        = render 'form'
