%section.content-header
  %h1
    - if policy(:flight).new?
      = link_to new_flight_path do
        %button.btn.btn-primary
          Nuevo
  %ol.breadcrumb
    %li
      %a{:href => "#"}
        %i.fa.fa-dashboard
        Vuelos
    %li.active Listado

.container-fluid.mt-10
  .row
    .col-lg-12
      .box.slice-box
        .box-body.no-padding
          %table.table
            %thead
              %tr
                %th #
                %th Nombre Apto. de Salida
                %th Nombre Apto. de Llegada
                %th Fecha
                %th Hora
                %th Aerolínea
                %th Número de Vuelo
                %th
                %th
            %tbody
              = render 'listing'
        .box-footer.text-center
          = paginate @flights, theme: 'bootstrap', window: 3
