%section.content-header
  %h1
    = link_to users_path do
      %button.btn.btn-primary
        Atrás
  %ol.breadcrumb
    %li
      %a{:href => "#"}
        %i.fa.fa-dashboard
        Usuarios
    %li
      %a{:href => "#"}
        %i.fa.fa-dashboard
        = @user.name
    %li.active Editar

.container-fluid.mt-10
  .row
    .col-md-12
      .box.box-primary
        .box-header.with-border
          %h3.box-title Editar Usuario

        = render 'form'
