%section.content-header
  %h1
    = link_to new_user_path do
      %button.btn.btn-primary
        Nuevo
  %ol.breadcrumb
    %li
      %a{:href => "#"}
        %i.fa.fa-dashboard
        Usuarios
    %li.active Listado

.container-fluid.mt-10
  .row
    .col-lg-12
      .box.slice-box
        .box-body.no-padding
          %table.table
            %thead
              %tr
                %th #
                %th Email
                %th Nombre
                %th Teléfono
                %th País
                %th Ciudad
                %th Provincia
            %tbody
              = render 'listing'

-# %h1 Listing users
-#
-# %table
-#   %thead
-#     %tr
-#       %th Email
-#       %th Password
-#       %th
-#       %th
-#       %th
-#
-#   %tbody
-#     - @users.each do |user|
-#       %tr
-#         %td= user.email
-#         %td= user.password
-#         %td= link_to 'Show', user
-#         %td= link_to 'Edit', edit_user_path(user)
-#         %td= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' }
-#
-# %br
-#
-# = link_to 'New User', new_user_path
