%section.content-header
  %h1
    - if policy(:user).new?
      = link_to new_user_path do
        %button.btn.btn-primary
          Nuevo
  %ol.breadcrumb
    %li
      %a{:href => "#"}
        %i.fa.fa-dashboard
        Usuarios
    %li.active Listado

.container-fluid.mt-10
  .row
    .col-lg-12
      .box.slice-box
        .box-body.no-padding.table-responsive
          %table.table
            %thead
              %tr
                %th #
                %th Email
                %th Nombre
                %th Teléfono
                %th País
                %th Departamento o Provincia
                %th Ciudad
            %tbody
              = render 'listing'

        .box-footer.text-center
          = paginate @users, theme: 'bootstrap', window: 3      
