%section.content-header
  %h1
    - if policy(:letter).new?
      = link_to new_letter_path do
        %button.btn.btn-primary
          Nuevo
  %ol.breadcrumb
    %li
      %a{:href => "#"}
        %i.fa.fa-dashboard
        Cartas
    %li.active Listado

.container-fluid.mt-10
  .row
    .col-lg-12
      .box.slice-box
        .box-body.no-padding.table-responsive
          %table.table
            %thead
              %tr
                %th #
                %th País
                %th Texto
                %th
                %th
            %tbody
              = render 'listing'
        .box-footer.text-center
          = paginate @letters, theme: 'bootstrap', window: 3
