.box-body.table-responsive
  = simple_form_for [@case_status] do |f|
    .form-group
      = f.input :name, label: 'Nombre', input_html: { class: 'form-control' }
    .form-group.pull-right
      = f.submit 'GUARDAR', class: 'btn btn-primary'
