!!!
%html
  %body
    .messaging.chat{ style: 'padding: 0'}
      .inbox_msg
        .inbox_people
          .headind_srch
            .recent_heading
              %h4 Canales
          .inbox_chat

        .mesgs
          %center.loader
            .lds-ring
              %div
              %div
              %div
              %div

          .msg_history.messages
          .type_msg.hidden
            .input_msg_write
              %input.write_msg{ placeholder: "Escribe un mensaje", type: 'text' }
              %button.msg_send_btn
                %i.fa.fa-paper-plane-o{ 'aria-hidden': 'true' }

:javascript
  var firebaseConfig = {
    apiKey: "AIzaSyA--lKRilsCUOYiTRF3Vg4foRzUXYYonjE",
    authDomain: "nommox-app.firebaseapp.com",
    databaseURL: "https://nommox-app.firebaseio.com",
    projectId: "nommox-app",
    storageBucket: "",
    messagingSenderId: "757853850589",
    appId: "1:757853850589:web:2478e5359b461da2c1c434"
  };

  // Initialize Firebase
  if (firebase) {
    firebase.initializeApp(firebaseConfig);
  }
