%section.content-header
  %h1
    = link_to countries_path do
      %button.btn.btn-primary
        Atrás
  %ol.breadcrumb
    %li
      %a{:href => "#"}
        %i.fa.fa-dashboard
        Países
    %li.active Crear

.container-fluid.mt-10
  .row
    .col-md-12
      .box.box-primary
        .box-header.with-border
          %h3.box-title Crear País

        = render 'form'
