%section.content-header
  %h1
    - if policy(:airline).new?
      = link_to new_airline_path do
        %button.btn.btn-primary
          Nuevo
  %ol.breadcrumb
    %li
      %a{:href => "#"}
        %i.fa.fa-dashboard
        Aerolíneas
    %li.active Listado

.container-fluid.mt-10
  .row
    .col-lg-12
      .box.slice-box
        .box-body.no-padding
          %table.table
            %thead
              %tr
                %th #
                %th Nombre
                %th Teléfono
                %th País
                %th
                %th
            %tbody
              = render 'listing'
        .box-footer.text-center
          = paginate @airlines, theme: 'bootstrap', window: 3
