img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.inbox_people {
  background: #2c3e50 none repeat scroll 0 0;
  float: left;
  overflow: hidden;
  width: 30%;
  border-right:1px solid #c4c4c4;
  height: 100%;
}

.inbox_msg {
  border: 1px solid #c4c4c4;
  clear: both;
  overflow: hidden;
  height: 100%;
}

.top_spac {
  margin: 20px 0 0;
}

.recent_heading {
  float: left; width:40%;
}

.srch_bar {
  display: inline-block;
  text-align: right;
  width: 60%;
}

.headind_srch {
  padding: 5px 10px;
  overflow:hidden;
  border-bottom:1px solid #c4c4c4;
  background: #2c3e50 none repeat scroll 0 0;

  .channel-detail {
    color: #fafafa;
  }
}

.recent_heading h5 {
  color: #fafafa;
  font-size: 21px;
  margin: auto;
}

.srch_bar input {
  border:1px solid #cdcdcd;
  border-width:0 0 1px 0;
  width:65%;
  padding:2px 0 4px 6px;
  background: none;
}

.srch_bar .input-group-addon button {
  border: medium none;
  padding: 0;
  color: #707070;
  font-size: 18px;
}

.srch_bar .input-group-addon {
  margin: 0 0 0 -27px;
}

.chat_ib h5 {
  font-size:15px;
  margin:0 0 8px 0;
}

.chat_ib h5 span {
  font-size: 13px;
  float:right;
}

.chat_ib p {
  font-size:14px;
  color:#989898;
  margin:auto
}

.chat_img {
  float: left;
  width: 11%;
}

.chat_ib {
  float: left;
  padding: 0 0 0 15px;
  width: 88%;
}

.chat_people {
  // overflow:hidden;
  // clear:both;
  height: 80px;
}

.chat_list {
  border-bottom: 1px solid #c4c4c4;
  margin: 0;
  padding: 10px;
  cursor: pointer;
  // position: relative;
}

.inbox_chat {
  height: 100%;
  overflow-y: scroll;
  padding-bottom: 35px;
}

.incoming_msg_img {
  display: inline-block;
  width: 6%;
}

.received_msg {
  display: inline-block;
  padding: 0 0 0 10px;
  vertical-align: top;
  width: auto;
}

.send_msg {
  display: inline-block;
  padding: 0 0 0 10px;
  vertical-align: top;
  width: auto;
}

.received_withd_msg p {
  border-radius: 3px;
  color: #fafafa;
  font-size: 14px;
  margin: 0;
  padding: 5px 10px 5px 12px;
  width: 100%;
}

.time_date {
  color: #747474;
  display: block;
  font-size: 12px;
  margin: 8px 0 0;
}

.received_withd_msg {
  width: auto;
  background: #2c3e50;
  border-radius: 15px;
}

.mesgs {
  float: left;
  width: 70%;
  height: 90%;
  background: #E6EAEA
}

.sent_msg p {
  background: #05728f none repeat scroll 0 0;
  border-radius: 15px;
  font-size: 14px;
  margin: 0; color:#fff;
  padding: 5px 10px 5px 12px;
  width:auto;
}
.outgoing_msg {
  overflow:hidden;
}

.sent_msg {
  float: right;
  width: auto;
  border-radius: 15px !important;
}

.input_msg_write input {
  border: medium none;
  color: #4c4c4c;
  font-size: 15px;
  min-height: 48px;
  width: 100%;
  padding: 10px 20px;
}

.type_msg {
  border-top: 1px solid #c4c4c4;
  position: relative;
  bottom: 20px;
}

.msg_send_btn {
  background: #05728f none repeat scroll 0 0;
  border: medium none;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  font-size: 17px;
  height: 40px;
  position: absolute;
  right: 20px;
  top: 5px;
  width: 40px;
}

.messaging {
  padding: 0 0 0px 0;
  height: 100vh;
}

.msg_history {
  height: 95%;
  overflow-y: auto;
  padding: 20px;
}

.channel-date {
  position: relative;
  top: 0;
  right: 0;
  color: #fafafa;
}

.channel-active {
  background: #375069;
  border-right: 5px solid #435f7a;
}

.notification-badge {
  width: 12px;
  height: 12px;
  background-color: green;
  border-radius: 50%;
  position: absolute;
  right: 10px;
}

::-webkit-scrollbar {
  width: .5em;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}
