.box-body.no-padding.table-responsive
  = simple_form_for [@province] do |f|
    .form-group
      = f.input :city_id, collection: @cities, include_blank: false, label: 'Departamento o Provincia', input_html: { class: 'form-control' }
    .form-group
      = f.input :name, label: 'Nombre', input_html: { class: 'form-control' }
    .form-group.pull-right
      = f.submit 'GUARDAR', class: 'btn btn-primary'
