!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    :css
      * {
        margin: 0;
        padding: 0;
        border: 0;
      }

      *:not(br):not(tr):not(html) {
        font-family: 'Muli', sans-serif;
        box-sizing: border-box;
        color: black;
      }

      body {
        width: 100% !important;
        height: 100%;
        margin: 0;
        line-height: 1.4;
        color: #6a6d6d;
        -webkit-text-size-adjust: none;
        background-image: url('../img/formu.jpg');
      }

      p,
      ul,
      ol,
      blockquote {
        line-height: 1.4;
        text-align: left;
      }

      strong {
        color: #e6ad2e;
      }

      .slice {
        color: #e6ad2e;
      }


      /* Layout ------------------------------ */

      .email-wrapper {
        width: 100%;
        margin: 0;
        padding: 0;
        -premailer-width: 100%;
        -premailer-cellpadding: 0;
        -premailer-cellspacing: 0;
      }

      .email-content {
        width: 100%;
        margin: 0;
        padding: 0;
        -premailer-width: 100%;
        -premailer-cellpadding: 0;
        -premailer-cellspacing: 0;
      }

      /* Masthead ----------------------- */

      .email-masthead {
        padding: 25px 0;
        text-align: center;
        background-color: #b35077;
      }

      .email-masthead img {
        height: 25%;
      }

      .email-masthead_logo {
        width: 94px;
      }

      .email-masthead_name {
        font-size: 16px;
        font-weight: bold;
        color: black;
        text-decoration: none;
        text-shadow: 0 1px 0 white;
      }

      /* Body ------------------------------ */

      .email-body {
        width: 100%;
        margin: 0;
        padding: 0;
        -premailer-width: 100%;
        -premailer-cellpadding: 0;
        -premailer-cellspacing: 0;
        border-top: 1px solid #EDEFF2;
        border-bottom: 1px solid #EDEFF2;
        background-color: #FFFFFF;
      }

      .email-body_inner {
        width: 570px;
        margin: 0 auto;
        padding: 0;
        -premailer-width: 570px;
        -premailer-cellpadding: 0;
        -premailer-cellspacing: 0;

      }

      .email-footer {
        border: 2px solid black;
        width: 100%;
        margin: 0 auto;
        padding: 0;
        -premailer-width: 570px;
        -premailer-cellpadding: 0;
        -premailer-cellspacing: 0;
        text-align: center;
      }

      .email-footer p {
        color: black;
      }

      .body-action {
        width: 100%;
        margin: 30px auto;
        padding: 0;
        -premailer-width: 100%;
        -premailer-cellpadding: 0;
        -premailer-cellspacing: 0;
        text-align: center;
      }

      .body-sub {
        margin-top: 25px;
        padding-top: 25px;
        border-top: 1px solid #EDEFF2;
      }

      .content-cell {
        padding: 35px;
        font-weight: bold;
        font-size: 30px;
        color: black;
      }

      /* Attribute list ------------------------------ */

      .attributes {
        margin: 0 0 21px;
      }

      .attributes_content {
        background-color: #fff;
        padding: 16px;
      }

      .attributes_item {
        padding: 0;
        line-height: 28px;
      }

      .attributes_item strong {
        color: #6a6d6d;
        font-size: 15px;
      }

      .attributes_item img {
        margin-top: 20px;
        width: 100%;
      }

      #company {
        color: white;
        text-decoration: none !important;
      }

      /* Utilities ------------------------------ */

      .align-right {
        text-align: right;
      }

      .align-left {
        text-align: left;
      }

      .align-center {
        text-align: center;
      }


      /*Media Queries ------------------------------ */

      @media only screen and (max-width:600px) {
        .email-body_inner,
        .email-footer {
          width: 100% !important;
        }

      }

      @media only screen and (max-width:500px) {
        .button {
          width: 100% !important;
        }

      }

      @media only screen and (max-width:767px) {
        .email-masthead img {
          width: 30%;
        }

      }

      /* Type ------------------------------ */

      h1 {
        margin-top: 0;
        font-size: 19px;
        font-weight: bold;
        text-align: center;
      }

      h2 {
        margin-top: 0;
        color: #2F3133;
        font-size: 16px;
        font-weight: bold;
        text-align: center;
      }

      h3 {
        margin-top: 0;
        color: #2F3133;
        font-size: 14px;
        font-weight: bold;
        text-align: center;
      }

      p {
        margin-top: 0;
        color: #74787E;
        font-size: 16px;
        line-height: 1.5em;
        text-align: center;
      }

      p.sub {
        font-size: 13px;
      }

      p.center {
        text-align: center;
      }

      .green {
        border: 5px solid #e6ad2e;
      }

      .lider {
        background: #4d83ff;
      }

      .info-down {
        margin-top: 20px;
        color: black;
      }

      .greetings {
        color: black;
        font-weight: bold;
      }
  %body
    = yield
